@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@400;700&display=swap');

:root{
    --custom-color: #4E96A9;
    --custom-color2: #865FB3;
    --custom-version: #73BDCF;
    --custom-version2: #C39DEB;
    --custom-grey: #8A89A0;
}

*, *::after, *::before{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Barlow Semi Condensed', sans-serif;
}

.container {
    display: grid;
    grid-template-columns: 1fr;
    
}
header {
    display: grid;
    grid-template-areas:
        "logo logo logo"
        "hero1 heading hero2"
        "circle circle circle";
    justify-items: center;
    align-items: center;
}

.hero {
    width: 100%;
    height: 100%;
    object-fit: cover; 
}
.image1{grid-area: hero1; }
.image2{grid-area: hero2; }

.heading { 
    grid-area: heading;
    width: auto;
    height: auto;
    text-align: center;
}

.heading > p{
    font-size: clamp(1rem, 2.5vw, 1.2rem);
    width: 80%; 
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
    color: var(--custom-grey);
}
.heading > h1{font-size: clamp(2rem, 6vw, 4rem);}

button{
    border: 0;
    font-size: clamp(0.5rem, 2.5vw, 1.2rem);
    font-weight: bold;
    color: white;
    background-color: purple;
    padding: 1.2rem;
    border-radius: 50px;
    margin: 1rem;
    margin-top: 2rem;
}
.btn1{background-color: var(--custom-color);}
.btn2{background-color: var(--custom-color2);}
.btn1 > span{color: var(--custom-version);}
.btn2 > span{color: var(--custom-version2);}

.navigation_step{
    grid-area: circle;
    width: 100%;
    height: 15rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}

.circle{
    width: 4rem;
    height: 4rem;
    text-align: center;
    color: var(--custom-grey);
    line-height: 4rem;
    background-color: white;
    border: .1px solid var(--custom-grey);
    border-radius: 50%;
}
.stripe{
    height: 6rem;
    border: .05px solid var(--custom-grey);
    text-align: center;
}
.pos_circle{
    position: absolute;
    top: -2rem;
}
.pos_stripe{
    top:-8rem;
    position: absolute;
}

.logo_image{
    object-fit: contain;
    grid-area: logo;
    padding-top: 4rem;
    padding-bottom: 2rem;
}

.gallery{
    margin-top: 5rem;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    justify-content: center;
    justify-items: center;
}

.gallery > img{
    width: 100%;
    height: 100%;
    border-radius: 10%;
    object-fit: cover;
}

.details{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 4rem;
    margin-bottom: 12rem;
}
.details > p {
    width: 50%;
    font-size: clamp(1rem, 2.5vw, 1.2rem);
    color: var(--custom-grey)
}

.details > h2,
.details > h1,
.details > p{margin: 1rem;}

.details > h2{
    color: var(--custom-color);
    letter-spacing: .3rem;
}
.details > h1{font-size: 40px;}

footer{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-image: url("./assets/desktop/image-footer.jpg");
    background-color: rgb(40, 140, 160);
    background-blend-mode: soft-light;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 100%;
    height: auto;
    min-height: 20rem;
    position: relative;
    padding-top: 3rem;
}

footer > h1{
    color: white;
    font-size: 3rem;
}
footer > p{
    font-size: clamp(1rem, 2.5vw, 1.5rem);
    color: white;
    width: 30%;
    text-align: center;
}
footer > button{
    font-size: 1.5rem;
    color: white;
}

.btn3{background-color: var(--custom-color2);}
.btn3 > span {color: var(--custom-version2)}

@media (max-width: 1400px) {
    header {
        grid-template-areas:
            "logo logo logo logo"
            "hero1 hero1 hero2 hero2"
            "heading heading heading heading"
            "circle circle circle circle";
    }
    .heading { 
        margin-top: 2rem;
        grid-area: heading;
        width: 60%;
        text-align: center;
        justify-self: center;
    }

    footer{
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    footer > p{width: 80%;}
}

@media (max-width: 600px) {
   button{
        font-size: 1.2rem;
        padding: 1rem;
        border-radius: 40px;
        margin: 1rem;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    header{
        grid-template-rows: auto 1fr 1r auto;
    }
    .logo_image{
        object-fit: contain;
        grid-area: logo;
    }
    .gallery{
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }
    footer{
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    footer > p{width: 80%;}
}